{
    "timeout": 1,
    "source": {
        "directories": [
            "classes\/src"
        ]
    },
    "logs": {
        "text": "infection.log"
    },
    "mutators": {
        "@default": true
    }
}
